input {
    font-size: inherit;
}
div#container {
    font-size: larger;
}
table {
    font-size: inherit;
}
input.correct {
    background-color: lime;
    color: black;
}
input.wrong {
    background-color: rgb(253, 65, 31);
    color: black;
}